

#Repositório de notas

##GitLab Pages

###fontes:
<https://docs.gitlab.com/ee/user/project/pages/>

<https://docs.gitlab.com/ee/user/project/pages/getting_started_part_one.html#gitlab-pages-domain-names>

<https://docs.gitlab.com/ee/user/project/pages/getting_started_part_two.html#create-a-project-from-scratch>

A partir de um repositório do GitLab é possível publicar um site estático. Para isso basta:

- criar um projeto;
- colocar os arquivos do site estático no repositório (podendo ser através do git);
- configurar o CI/CD de modo a escolher um template (pode ser puramente html);
- esperar a atualização do servidor.
    
##Git

###fontes:

<https://www.atlassian.com/git/tutorials/learn-git-with-bitbucket-cloud>

<https://docs.gitlab.com/ee/topics/git/index.html>

<https://git-scm.com/book/en/v2>

Git, ferramenta de controle de versão distribuido.

###Comandos básicos

git add nomeDoArquivo, git começa a rastrear as alterações no arquivo.

git commit -m "nome do commit", salva o estado do código localmente.

git push, envia as alterações para os outros nós.

git pull, recebe as alterações de outros nós.






<!-- Markdeep: --><style class="fallback">body{visibility:hidden;white-space:pre;font-family:monospace}</style><script src="markdeep.min.js" charset="utf-8"></script><script src="https://casual-effects.com/markdeep/latest/markdeep.min.js" charset="utf-8"></script><script>window.alreadyProcessedMarkdeep||(document.body.style.visibility="visible")</script>
